:local(.MainMenu) {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;

  .ui.segment {
    border: none;
    background: none;
    box-shadow: none;
    display: block;
  }

  span {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
}

:local(.ToggleButton) {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
}