:local(.MainMenu) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  .sortedIngredientsList {
    line-height: 1.5em;
  }

  .multipleIngredient label{
    color: white !important;
    margin: 2px 8px;
  }

  .singleIngredient {
    margin: 2px !important;
    cursor: pointer;
  }

  .ui.segment {
    margin: 0;
    border: none;
  }

  .pusher {
    display: flex;
    justify-content: flex-start;

    button {
      border-radius: 0px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    button.toggleButton {
      display: none;
    }
  }
}